.burger__container {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 35px;
    right: 25px;
    display: none;
    justify-content: space-around;
    flex-flow: column nowrap;
}


@media (width <= 425px ) {
    .burger__container {
        display: flex;
    }

    .nav__btn {
        background-color: #0000;
        border: none;
        color: #FFFF;
        font-size: 2rem;
    }

}
