.home__content {
    display: flex;
    flex-direction: column ;
   
  }
  
  

  @media (width < 426px ) {
    .home__content {
      width: 327px;
      margin: auto;
      align-items: center;
      gap: 1.5rem;
    }
   
   
  }
  @media ( 426px <= width <= 768px ) {
  
  
    .home__content {
      width: 450px;
      margin: auto;
      align-items: center;
      gap: 2rem;
      margin-top: 1rem;
    }
  
  }