@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

.destination__wrapper {
    background: url(../assets/destination/background-destination-desktop.jpg) no-repeat center center fixed;
    height: 100vh; 
    width: 100vw; 
    padding: 30px 0 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .destination__container {
    padding:9rem 10rem ;
  }

  .destination__container > h2 {
    font-family: 'Barlow Condensed';
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4.72px;
    color: #FFFF;
    margin-bottom: 7rem;
  }
  
  .destination__container > h2 > span {
    margin-right: 1rem;
    font-weight: bolder;
    opacity: .25;
  }
  


  .destination__moon__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .destination__moon {
    height: 445px;
    width: 445px;
  }