
.destination__wrapper {
    background: url(../assets/destination/background-destination-desktop.jpg) no-repeat center center fixed;
    height: 100vh; 
    width: 100vw; 
    padding: 30px 0 0 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .destination__container {
    padding:7rem 10rem 0;
  }
  .destination__container > h2 > span {
    margin-right: 1rem;
    font-weight: bolder;
    opacity: .25;
  }
  
  .destination__container > h2 {
    font-family: 'Barlow Condensed';
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4.72px;
    color: #FFFF;
    margin-bottom: 2rem;
  }
  

  .destination__moon__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15rem;
  }

  .destination__img {
    height: 300px;
    width: 300px;
    animation: spin 50s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .destination__description {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 19rem;
  }

 

 
  @media (width < 426px ) {
  .destination__moon {
    height: 200px;
    width: 200px;
  }
  
 
}

@media ( 426px <= width <= 768px ) {
  .destination__moon {
    height: 200px;
    width: 200px;
  }

 
}

