@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

.home__wrapper {
  background: url(../assets/home/background-home-desktop.jpg) no-repeat center center fixed;
  height: 100vh; 
  width: 100vw; 
  padding: 30px 0 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__content {
  /* background-color: red; */
  display: flex;
  flex-direction: column ;
  width: 35%;
}

.page__content {
  font-family: 'Bellefair';
  font-weight: 100;
  color: white;
  text-transform: uppercase;
}
.home__heading__five {
  font-size: 28px;
}
.home__heading__one {
  font-size: 150px;
}

.home__p {
  color: white;
  font-family: sans-serif;
}
@media (width <= 425px ) {
  .home__wrapper {
    background: url(../assets/home/background-home-mobile.jpg) no-repeat center center fixed;
    height: 100vh; 
    width: 100vw; 
  }
}
@media ( 425px < width <= 768px ) {
  .home__wrapper {
    padding: 0px 0 0 10px;
  }
}
