
.home__wrapper {
  background: url(../assets/home/background-home-desktop.jpg) no-repeat center center fixed;
  height: 100vh; 
  width: 100vw; 
  padding: 30px 0 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__content__container {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  margin-top: 12rem;
  margin-right: 2rem;
}

.home__heading__five, .home__heading__one, .home__p {
  font-weight: 100;
  color: white;
 
}
.home__heading__five {
  font-family: 'Barlow Condensed';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4.72px;
  color: #D0D6F9;
}
.home__heading__one {
  font-family: 'Bellefair';
  font-size: 120px;
  text-transform: uppercase;
}

.home__p {
  font-family: 'Barlow Condensed';
  line-height: 2;
  width: 370px;
  
}

@media (width < 426px ) {
  .home__wrapper {
    background: url(../assets/home/background-home-mobile.jpg) no-repeat center center fixed;
    height: 100vh; 
    width: 100vw; 
  }

  .home__content__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin-top: 7rem
  }
  .home__content {
    width: 327px;
    margin: auto;
    align-items: center;
    gap: 1.5rem;
  }
  .home__heading__five {
    font-size: 16px;
  }
  .home__p {
    font-size: 16px;
    padding: 0 10px;
    line-height: 1.5;
   text-align: center;
   width: 100%;
   }

  .home__heading__one {
    font-size: 80px ;
  }
 
}
@media ( 426px <= width <= 768px ) {
  .home__wrapper {
      background: url(../assets/home/background-home-tablet.jpg) no-repeat center center fixed;
  }
  .home__content__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .home__content {
    width: 450px;
    margin: auto;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
  }
  .home__p {
    font-size: 18px;
   text-align: center;
   }
}

